@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
:root {
  --success-color:#2ecc71;
  --error-color:  #e74c3c;
}


* {
  box-sizing: border-box;
}
body{
  background-color: #D8D8D8;
  font-family: 'Sansita Swashed', cursive;
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  background-color: violet;
  border-radius: 20px;
  padding: 10px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}
h2{
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid #F8F8F8;
  display:block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}
.form-control input:focus {
  outlind: 0;
  border-color: #D8D8D8;
}
.form-control.success input {
  border-color: var(--success-color);
}
.form-control.error input {
  border-color: var(--error-color);
}
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: black;
  border: 2px solid black;
  border-radius:  6px;
  color: #F8F8F8;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
